altgraph==0.17
astroid==2.4.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
future==0.18.2
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
modbus-tk==1.1.0
Naked==0.1.31
pefile==2019.4.18
pycryptodome==3.9.7
PyInstaller==3.6
pylint==2.5.2
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyserial==3.4
pywin32-ctypes==0.2.0
PyYAML==5.4
requests==2.23.0
shellescape==3.8.1
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
